<div class="container">
  <div class="oferta" *ngIf="oferta !== undefined">
   <!--  <div class="row">
      <div class="col">
        <a [routerLink]="['/oferta',1]">Oferta 1</a>
        <a [routerLink]="['/oferta',3]">Oferta 2</a>
        <a [routerLink]="['/oferta',6]">Oferta 3</a>
      </div>
    </div> -->
    <div class="row">
      <div class="col">
        <h4>{{oferta.titulo}} - {{oferta.descricao_oferta}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]='oferta.imagens[0].url' />
        </div>
        <div class="thumbnails">
          <img *ngFor="let img of oferta.imagens" [src]='img.url' />
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <h1><strong>R$ {{oferta.valor}}</strong></h1>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 75px; margin-bottom: 150px;">
      <div class="col">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="como-usar" data-toogle="tab" role="tab" aria-expanded="true">Como Usar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="onde-chegar" data-toogle="tab" role="tab" aria-expanded="true">Onde Fica?</a>
          </li>
        </ul>
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </div>
</div>
